.Rproj.user
.Rhistory
.RData
.Ruserdata

# files created during testing and examples
drw_mf_demo_wtop.nc
**/DRW.rsp
**/DRW.dat
**/DRW.nam
**/DRW.ptr
**/*.cbf
**/pathline
**/summary.pth
**/endpoint
**/DRW_EXAMPLE*
**/fort.*
